*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* For Open Sanse font */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Commonly used css */
.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red;      */
}

.btn{
    font-size: 20px;
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn1{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    width: 200px;
    height: 64px;
}

.btn2{
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;;
    background-color: #FFF8F3;
    padding: 20px;
    border: 1px solid #FD6E0A;;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    height: 64px;
}

/*  Header Section */
header{
    background-color: #FFF8F3;
    padding-top: 50px;    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav h2{
    font-size: 45px;
}

nav ul{
    list-style: none;
    
}
nav ul li{
   display: inline;
   font-size: 20px; 
   color: #474747;
   
}
nav ul li a{
    text-decoration: none;
    margin-right: 40px;
}


#banner{
    border: 1px solid red;
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner_content{
    max-width: 585px;
}

#banner .banner_content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner_content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner_content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}